html, body, .stage, .ring, .img {
  width:100%;
  height: 100%;
  transform-style: preserve-3d;
  user-select:none;
}

html, body, .stage {
  overflow:hidden;
  background-color: black;
}

div, svg {
  position: absolute;
}

.container {
  perspective: 5000px;
  width: 300px;
  height: 400px;  
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.slide1 {
  background-image: url(./footerimage.svg);
}
.slide2 {
  background-image: url(./point03.svg);
}
.slide3 {
  background-image: url(./point04.svg);
}
.slide4 {
  background-image: url(./point05.svg);
}
.slide5 {
  background-image: url(./point06.svg);
}
.slide6 {
  background-image: url(./footerimage.svg);
}
.slide7 {
  background-image: url(./point03.svg);
}
.slide8 {
  background-image: url(./point04.svg);
}
.slide9 {
  background-image: url(./point05.svg);
}
.slide10 {
  background-image: url(./point06.svg);
}
